<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Quiz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.UsersActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.EditUserActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.AddUserActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.QuestionsActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.AddQuestionActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.EditQuestionActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.QuizzesActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.AddQuizActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.EditQuizActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.SelectQuestionsActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.SelectQuizActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.TakeQuizActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
        <activity
            android:name=".ui.activities.ResultsHistoryActivity"
            android:theme="@style/Theme.Quiz">
        </activity>
    </application>

</manifest>